version: '3'

services:
  consul:
    image: consul
    command: agent -bootstrap-expect=1 -server -ui -client 0.0.0.0
    ports:
      - "8500:8500"
      - "8600:8600"
    expose:
      - "8300"

  world-proxy:
    image: nginx-consul-template
    ports:
      - "80:80"
    volumes:
      - $PWD/:/tmp/
      - nginx-conf:/etc/nginx
    # command: -consul-addr=192.168.0.10:8500
    command: -consul-addr=consul:8500
    environment:
      - GOOGLE=http://www.google.com/
      - BASE_APP_ADDR=http://webserver_1:5000

  webserver_1:
    image: tigrlily/flask-websocket-app
    ports:
      - 5000:5000
    volumes:
      - nginx-conf:/etc/nginx:ro
    environment:
      - BASE_URL=http://localhost/
      - FILENAME=/etc/nginx/nginx.conf

volumes:
     nginx-conf: